<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/auth/registration">Create User</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/task">Task List</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/task/assign-to" >Assign To Task</a>
      </li>
    </ul>
    <span class="navbar-text"> {{currentUser.email}} </span>
    <span class="navbar-text">
      <a [routerLink] class="nav-item nav-link" (click)="logout()">Logout</a>
    </span>
  </div>
</nav>

<!-- main app container -->
<div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
